<.header>
  New connection
  <:subtitle>Use this form to manage connection records in your database.</:subtitle>
</.header>

<.connection_form changeset={@changeset} action={~p"/admin/connections"} />

<.back navigate={~p"/admin/connections"}>Back to connections</.back>
