<.header>
  Edit User <%= @user.id %>
  <:subtitle>Use this form to manage user records in your database.</:subtitle>
</.header>

<.user_form changeset={@changeset} action={~p"/admin/users/#{@user}"} roles={@roles} />

<.back navigate={~p"/admin/users"}>Back to users</.back>
