<.header>
  User <%= @user.id %>
  <:subtitle>This is a user record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/admin/users/#{@user}/edit"}>
      <.button>Edit user</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Email"><%= @user.email %></:item>
  <:item title="Role"><%= @user.role %></:item>
  <:item title="Admin"><%= @user.is_admin %></:item>
</.list>

<.back navigate={~p"/admin/users"}>Back to users</.back>
