<.header>
  New Redis instance
  <:subtitle>Use this form to manage redis_instance records in your database.</:subtitle>
</.header>

<.redis_instance_form changeset={@changeset} action={~p"/admin/redisinstances"} />

<.back navigate={~p"/admin/redisinstances"}>Back to redisinstances</.back>
