<.header>
  Listing Sources
  <:actions>
    <.link :if={@is_admin} href={~p"/admin/sources/new"}>
      <.button>New Source</.button>
    </.link>
  </:actions>
</.header>

<.table
  :if={@is_admin}
  id="sources"
  rows={@sources}
  row_click={&JS.navigate(~p"/admin/sources/#{&1}")}
>
  <:col :let={source} label="Name"><%= source.name %></:col>
  <:col :let={source} label="Type"><%= source.type %></:col>
  <:col :let={source} :if={@is_admin} label="Connection">
    <%= source.connection.name %>
  </:col>

  <:col :let={source} label="Public">
    <.icon :if={source.public} name="hero-check" />
    <.icon :if={!source.public} name="hero-x-mark" />
  </:col>

  <:action :let={source}>
    <.link navigate={~p"/admin/sources/#{source}/edit"}>Edit</.link>
  </:action>

  <:action :let={source}>
    <.link href={~p"/admin/sources/#{source}"} method="delete" data-confirm="Are you sure?">
      Delete
    </.link>
  </:action>
</.table>

<.table :if={!@is_admin} id="sources" rows={@sources} row_click={&JS.navigate(~p"/sources/#{&1}")}>
  <:col :let={source} label="Name"><%= source.name %></:col>
  <:col :let={source} label="Type"><%= source.type %></:col>
  <:col :let={source} label="Public"><%= if source.public, do: "🗹", else: "☐" %></:col>
  <%!-- TODO REMOVE --%>
  <:col :let={source} label="Subscribed">
    <%= if source.users, do: "🗹", else: "☐" %>
  </:col>
</.table>
