<.header>
  New Source
  <:subtitle>Use this form to manage source records in your database.</:subtitle>
</.header>

<.source_form changeset={@changeset} action={~p"/admin/sources"} />

<.back navigate={~p"/admin/sources"}>Back to sources</.back>
