<.header>
  Edit Sink <%= @sink.id %>
  <:subtitle>Use this form to manage sink records in your database.</:subtitle>
</.header>

<.sink_form changeset={@changeset} action={~p"/admin/sinks/#{@sink}"} />

<.back navigate={~p"/admin/sinks"}>Back to sinks</.back>
