<.header>
  New Sink
  <:subtitle>Use this form to manage sink records in your database.</:subtitle>
</.header>

<.sink_form
  changeset={@changeset}
  action={~p"/admin/sinks"}
  connections={@connections}
  connection_sink_types={@connection_sink_types}
  sink_types={@sink_types}
  users={@users}
/>

<.back navigate={~p"/admin/sinks"}>Back to sinks</.back>
