<.header>
  New Sink
  <:subtitle>Use this form to manage sink records in your database.</:subtitle>
</.header>

<.sink_form changeset={@changeset} action={~p"/sinks"} connections={@connections} />

<.back navigate={~p"/sinks"}>Back to sinks</.back>
